<div class="mx-auto bg-white items-center justify-center flex flex-col min-h-screen max-w-screen-2xl p-4 relative isolate">
  <%= render "shared/_header/guest_header" %>
  <%# 背景の装飾的なSVG要素 %>
  <svg class="w-[468px] h-[788px] sm:left-10 lg:left-20 absolute top-10 left-0 -z-10 transform-gpu overflow-hidden blur-2xl" viewBox="0 0 468 788" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="44.5105" cy="378.637" r="156.383" fill="#4A3AFF"/>
    <circle cx="119.803" cy="529.24" r="156.383" fill="#702DFF"/>
    <circle cx="173.364" cy="372.857" r="156.383" fill="#2D5BFF"/>
    <g filter="url(#filter0_b_1410_520)">
      <circle cx="73.5409" cy="394.049" r="393.819" fill="white" fill-opacity="0.79"/>
    </g>
    <defs>
      <filter x="-460.404" y="-139.896" width="1067.89" height="1067.89" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feGaussianBlur in="BackgroundImageFix" stdDeviation="70.063"></feGaussianBlur>
        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1410_520"></feComposite>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_1410_520" result="shape"></feBlend>
      </filter>
    </defs>
  </svg>

  <div class="w-full p-8 max-w-lg relative isolate">
    <p class="text-center text-4xl font-bold tracking-tight mb-10"><%= t('.sign_up') %></p>
    <p class="text-lg text-center text-gray-500 w-10/12 mx-auto"><%= t('.registration_message') %></p>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "mt-10" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="space-y-5">
        <%= f.email_field :email, autofocus: true, autocomplete: "email",
            placeholder: t('activerecord.attributes.user.email'),
            class: "border border-gray-200 p-3 focus:ring-1 focus:ring-gray-600 focus:outline-none w-full rounded-lg bg-white" %>

        <%= f.password_field :password, autocomplete: "new-password",
            placeholder: t('devise.registrations.new.password_placeholder', minimum_password_length: @minimum_password_length),
            class: "border border-gray-200 p-3 focus:ring-1 focus:ring-gray-600 focus:outline-none w-full rounded-lg bg-white" %>

        <%= f.password_field :password_confirmation, autocomplete: "new-password",
            placeholder: t('activerecord.attributes.user.password_confirmation'),
            class: "border border-gray-200 p-3 focus:ring-1 focus:ring-gray-600 focus:outline-none w-full rounded-lg bg-white" %>
      </div>

      <%= f.submit t('.sign_up'), class: "p-3 w-full bg-black text-white rounded-lg mt-10 font-semibold" %>
    <% end %>

    <div class="mt-4 text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <%= render "shared/footer" %>
</div>

