<div class="bg-white pt-4 pr-8 pb-4 pl-8">
  <nav class="w-full">
    <%= render 'shared/navbar' %>
    <%= render 'hero_content' %>
    <%= render 'empathy_section' %>
    <%= render 'solution' %>
    <%= render 'faq' %>
    <%= render 'shared/footer' %>
  </nav>
</div>

