<div class="mx-auto bg-white items-center justify-center flex min-h-screen max-w-screen-2xl p-4 relative isolate">
  <%# 背景の装飾的なSVG %>
  <svg class="w-[468px] h-[788px] absolute -top-40 -left-40 -z-10 transform-gpu overflow-hidden blur-2xl" viewBox="0 0 468 788" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="44.5105" cy="378.637" r="156.383" fill="#4A3AFF"/>
    <circle cx="119.803" cy="529.24" r="156.383" fill="#702DFF"/>
    <circle cx="173.364" cy="372.857" r="156.383" fill="#2D5BFF"/>
    <g filter="url(#filter0_b_1410_520)">
      <circle cx="73.5409" cy="394.049" r="393.819" fill="white" fill-opacity="0.79"/>
    </g>
    <defs>
      <filter x="-460.404" y="-139.896" width="1067.89" height="1067.89" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feGaussianBlur in="BackgroundImageFix" stdDeviation="70.063"/>
        <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_1410_520"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_1410_520" result="shape"/>
      </filter>
    </defs>
  </svg>

  <div class="w-full p-8 max-w-2xl relative isolate">
    <h2 class="text-center text-4xl font-bold tracking-tight mb-10">Sign in</h2>
    <p class="text-lg text-center text-gray-500 w-10/12 mx-auto">Hey, enter your details to login</p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "mt-10" }) do |f| %>
      <div class="space-y-5">
        <%= f.email_field :email,
            autofocus: true,
            autocomplete: "email",
            placeholder: "Enter email",
            class: "border border-gray-200 p-3 focus:ring-1 focus:ring-gray-600 focus:outline-none w-full rounded-lg bg-white" %>

        <div class="relative">
          <%= f.password_field :password,
              autocomplete: "current-password",
              placeholder: "Enter password",
              class: "border border-gray-200 p-3 focus:ring-1 focus:ring-gray-600 focus:outline-none w-full rounded-lg bg-white" %>
          <%= link_to "パスワードをお忘れの方", new_password_path(resource_name),
              class: "absolute right-0 -bottom-6 text-sm text-gray-600 hover:text-black" %>
        </div>
      </div>

      <%= f.submit "Login",
          class: "p-3 w-full bg-black text-white rounded-lg mt-10 font-semibold" %>
    <% end %>

    <div class="mt-6 text-center">
      <p class="text-gray-600">
        アカウントをお持ちでない方は
        <%= link_to "新規登録", new_registration_path(resource_name),
            class: "text-black font-semibold hover:underline" %>
      </p>
    </div>
  </div>
</div>
